<a href="https://colab.research.google.com/github/You-Ming/test/blob/main/demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ls1 = [1, 2, 3, 4]
for i in range(len(ls1)):
    p = ls1.pop()
    ls1.append(p)
print(ls1)

[1, 2, 3, 4]

In [ ]:
ls1 = 'admin'
for char in ls1:
    if char == 'm':
        continue
    print(char)

a
d
i
n

In [ ]:
var = 10
while var:
    var -= 1
    if var > 5:
        continue
    print(var)

5
4
3
2
1
0

In [ ]:
'''
for i in range(1,10):
  for j in range(1,10):
    print(i," x ", j, " = ", i*j)
print()
'''

'\nfor i in range(1,10):\n  for j in range(1,10):\n    print(i," x ", j, " = ", i*j)\nprint()\n'

In [ ]:
 list1 = [5, 20, 15, 20, 25, 50, 20]
 list2 = []
 for i in list1:
   if i != 20:
     list2.append(i)

print(list2)

[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list2 = []
for i in list1:
  if i %2 != 0:
    list2.append(i)
     
print(list2)

[5, 15, 25]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print(list1[2][2][1])

6000

In [ ]:
data = input('Please input something :')

data = int(data)
if data % 5 == 0:
  print('Yes')
elif data % 5 !=0:
  print('No')
else:
  print('error')

Please input something :3
No

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list2 = []
for i in list1:
  if i > 10:
    list2.append(i)
print(list2)

[20, 15, 20, 25, 50, 20]

In [ ]:
for i in range(100,201):
  if i%2 == 1:
    print(i)

101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199

In [ ]:
for i in range(8):
  s1 = ''
  for j in range(15-i*2):
    if j < 7-i:
      s1 += ' '
    else:
      s1 += '*'
  print(s1)

       ********
      *******
     ******
    *****
   ****
  ***
 **
*

In [ ]:
for i in range(1,9):
  inv_i = 9-i
  print((' '*inv_i) + ('*'*inv_i))

        ********
       *******
      ******
     *****
    ****
   ***
  **
 *

In [ ]:
for i in range(1,6):
  s1 = ''
  for j in range(1,6):
    if j <= i:
      s1 += str(j)
    else:
      s1 += ''
  print(s1)

1
12
123
1234
12345

In [1]:
tmp = ''
for i in range(1,6):
  tmp += str(i)
  print(tmp)

1
12
123
1234
12345

In [7]:
def is_over_50(a):
  return a >= 50

a = is_over_50(50)
print(a)

True

In [19]:
def cal_max(par):
  max = par[0]
  for i in par:
    if i > max:
      max = i

  return max

list1 = [4, 6, 8, 24, 12, 2]
print(cal_max(list1))

24

In [21]:
def date_format(date_str):
  list1 = date_str.split('-')
  if len(list1[0]) > 4:
    print('您輸入的日期是: %s 年 %s 月 %s 號' % (list1[0], list1[1], list1[2]))
  else:
    print('您輸入的日期是: %s 年 %s 月 %s 號' % (list1[2], list1[1], list1[0]))

date_format('01-05-2021 ')

您輸入的日期是: 2021  年 05 月 01 號

In [23]:
account_ls = []
password_ls = []

while True:
  res = input('請輸入對應讀服務 (a)註冊 (b)登入 (c)退出')

  if res == 'c':
    print('Bye')
    break

  elif res == 'a':
    account = input('請輸入帳號: ')
    if account in account_ls:
      print('帳號已被註冊，請重新執行程序...')
      continue
    password = input('請輸入密碼: ')
    account_ls.append(account)
    password_ls.append(password)
    print('帳號註冊成功')

  elif res == 'b':
    account = input('請輸入帳號: ')
    if account not in account_ls:
      print('帳號不存在，請註冊帳號...')
      continue
    password = input('請輸入密碼: ')
    rel_password = ''
    for i in range(len(account_ls)):
      if account_ls[i] == account:
        rel_password = password_ls[i]
    if rel_password == password:
      print('登入成功！')
    else:
      print('密碼錯誤，請重新執行程序...')


  else:
    pass

請輸入對應讀服務 (a)註冊 (b)登入 (c)退出a
請輸入帳號: admin
請輸入密碼: 111
帳號註冊成功
請輸入對應讀服務 (a)註冊 (b)登入 (c)退出b
請輸入帳號: aaa
帳號不存在，請註冊帳號...
請輸入對應讀服務 (a)註冊 (b)登入 (c)退出b
請輸入帳號: admin
請輸入密碼: 123
密碼錯誤，請重新執行程序...
請輸入對應讀服務 (a)註冊 (b)登入 (c)退出b
請輸入帳號: admin
請輸入密碼: 111
登入成功！
請輸入對應讀服務 (a)註冊 (b)登入 (c)退出c
Bye